.list-group {
    list-style: none;
    margin-top: 20px;
    width: 100%;
    background:#5a6268 !important;
    border-radius: 10px;
}

.none {
    display: none;
}

.list-group-item, .default {
    color: white;
    cursor: pointer;
    background:#5a6268 !important;
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.list-group-item:hover {
    background:#6e7275 !important;
}

.wrong {
    color: #801e1e;
}

.correct {
    color: #205010;;
}