.btn {
    margin-top: 20px;
    width: 100%;
}

.jumbotron {
    background:#5a6268 !important;
    color: white;
    margin: 50px auto;
}

.jumbotron h3 {
    font-size: 35px;
    color: #ffc107;;
}

.jumbotron p {
    font-size: 20px;
}

.next {
    background: #1e5973 !important;
    border: 1px solid rgb(12, 58, 82);
}

.next:hover {
    background: rgb(127, 215, 249) !important;
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: rgba(12, 58, 82, 0.55); 
    border: 1px solid rgb(12, 58, 82);
}