.btn {
    margin-top: 20px;
    width: 100%;
}

.jumbotron {
    background:#5a6268 !important;
    color: white;
    margin: 50px auto;
}

.jumbotron h3 {
    font-size: 35px;
    color: #ffc107;;
}

.jumbotron p {
    font-size: 20px;
}

.next {
    background: #753d92 !important;
}

.next:hover {
    background: #b36ad8 !important;
}