.description img {
    width: 40%;
    float: left;
    margin: 0 3.5% 0 3.5%;
    background: rgb(189, 123, 189);
    border-radius: 5px;
    padding: 2%;
}

.description h5 {
    color:#f57113;
    width: 100%;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

.description {
    padding: 25px;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(214, 214, 214);;
}

.description p {
    text-align: justify;
    margin-left: 10px;
}

.description span {
    color: #222;
    font-weight: bold;
}

.rhap_container {
    margin: 0 auto;
}

.musician-info {
    margin-left: 10px;
}






 