.description img {
    width: 25%;
    float: left;
    margin: 0 0 0 3.5%;
    background: rgb(189, 123, 189);
    border-radius: 5px;
    padding: 2%;
}

.description {
    width: 500px;
    margin-top: 20px;
    font-size: 20px;
}

/* .rhap_progress-section {
    color: white;
}

.rhap_controls-section {
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.rhap_button-clear {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #970fc0;
    border: none;
} */

/* .rhap_button-clear svg {
    width: 1em;
    height: 1em;
}

.rhap_button-clear:hover {
    cursor: pointer;
    background-color: rgb(189, 123, 189);
} */


 