.musician-image {
    width: 25%; 
    float: left; 
    margin: 0 0 0 3.5%; 
    background:rgb(189, 123, 189); 
    border-radius: 5px; 
    padding: 2%; 
}

.musician-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.musician-container h5 {
    color: #970fc0;
    font-size: 30px;
    margin-top: 8px;
    text-align: center;
}

